<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is the ToDo List web app that I've created using Node.js and Express.js and having a NoSQL database MongoDB Atlas thats gonna save your list of items that you added to it.</p>

<%- include("footer") -%>
